<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="empMgMapper">

	<resultMap type="EMPDto" id="empResult">
		<result property="empNo" column="EMP_NO"/>
		<result property="id" column="ID"/>
		<result property="slr" column="SLR"/>
		<result property="retiredDt" column="RETIRED_DT"/>
	</resultMap>
	
	<select id="empSelectOne" parameterType="String" resultMap="empResult">
		SELECT EMP_NO,
			   NM,
			   SLR,
			   RETIRED_DT,
			   EMP.ID AS ID
		FROM   TB_EMP EMP INNER JOIN TB_USR USR
		  ON   EMP.ID = USR.ID
		WHERE USR_TP = 'staff'
		  AND EMP_NO = #{empNo}
	</select>
	
	<select id="empSelectById" parameterType="String" resultMap="empResult">
		SELECT * FROM TB_EMP
		WHERE ID = #{id}
	</select>
	
	<select id="empSelectAll" resultMap="empResult">
		SELECT EMP.ID AS ID,
			   EMP_NO,
			   NM,
			   SLR,
			   RETIRED_DT
		FROM   TB_EMP EMP INNER JOIN TB_USR USR
		  ON   EMP.ID = USR.ID
		WHERE USR_TP = 'staff'
		ORDER BY EMP_NO DESC
	</select>
	
	<insert id="empInsert" parameterType="EMPDto">
		INSERT INTO TB_EMP(EMP_NO, ID, SLR)
		VALUES(#{empNo}, #{id}, #{slr})
	</insert>
	
	<insert id="tchrInsert" parameterType="tCHRDto">
		<if test="tchrPt == null">
			INSERT INTO TB_TCHR(TCHR_NO, ID, SBJT_CHRG, TCHR_INTRO, EMP_NO)
			VALUES(#{tchrNo}, #{id}, #{sbjtChrg}, #{tchrIntro}, #{empNo})
		</if>
		<if test="tchrPt != null">
			INSERT INTO TB_TCHR(TCHR_NO, ID, SBJT_CHRG, TCHR_INTRO, EMP_NO, TCHR_PT)
			VALUES(#{tchrNo}, #{id}, #{sbjtChrg}, #{tchrIntro}, #{empNo}, #{tchrPt})
		</if>
	</insert>	
		
	<resultMap type="USRDto" id="usrResult">
		<result property="id" column="ID"/>
		<result property="pw" column="PW"/>
		<result property="nm" column="NM"/>
		<result property="phone" column="PHONE"/>
		<result property="addr" column="ADDR"/>
		<result property="email" column="EMAIL"/>
		<result property="usrTp" column="USR_TP"/>
		<result property="pws" column="PWS"/>
	</resultMap>
	
	<select id="usrSelectOne" resultMap="usrResult">
		SELECT * FROM TB_USR
		WHERE ID = #{id}
	</select>
	
	<resultMap type="TCHRDto" id="tchrResult">
		<result property="tchrNo" column="TCHR_NO"/>
		<result property="id" column="ID"/>
		<result property="slr" column="SLR"/>
		<result property="sbjtChrg" column="SBJT_CHRG"/>
		<result property="tchrIntro" column="TCHR_INTRO"/>
		<result property="nm" column="NM"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="tchrPt" column="TCHR_PT"/>
	</resultMap>
	
	
	<update id="tchrUpdate" parameterType="TCHRDto">
		UPDATE TB_TCHR
		   SET SBJT_CHRG = #{sbjtChrg},
		       TCHR_INTRO = #{tchrIntro}
		 WHERE TCHR_NO = #{tchrNo}
	</update>
		
	<select id="tchrSelect" resultMap="tchrResult">
		SELECT  TCHR.ID AS ID,
				NM,
				TCHR.EMP_NO AS EMP_NO,
				EMP.SLR AS SLR,
				TCHR_NO,
				SBJT_CHRG,
				TCHR_INTRO
		FROM 	TB_TCHR TCHR 
				INNER JOIN TB_EMP EMP ON TCHR.EMP_NO = EMP.EMP_NO
				INNER JOIN TB_USR USR ON TCHR.ID = USR.ID
		WHERE 	TCHR_NO = #{tchrNo}
	</select>	
	
	<select id="tchrSelectById" resultMap="tchrResult">
		SELECT *
		FROM   TB_TCHR
		WHERE ID = #{id}
	</select>	
	
	<select id="tchrSelectAll" resultMap="tchrResult">
		SELECT TCHR.ID AS ID,
			   TCHR_NO,
			   SBJT_CHRG,
			   NM,
			   EMP_NO
		FROM   TB_TCHR TCHR INNER JOIN TB_USR USR
		  ON   TCHR.ID = USR.ID
		WHERE USR_TP = 'tchr'
		ORDER BY TCHR_NO DESC
	</select>	
	
	<update id="usrUpdateToStaff" parameterType="EMPDto">
		UPDATE TB_USR
		   SET USR_TP = 'staff'
		 WHERE ID = #{id}
	</update>
	
	<update id="usrUpdateToTchr" parameterType="String">
		UPDATE TB_USR
		   SET USR_TP = 'tchr'
		 WHERE ID = #{id}
	</update>
	
	<update id="empUpdate" parameterType="EMPDto">
		UPDATE TB_EMP
		   SET ID = #{id},
		       SLR = #{slr}
		 WHERE EMP_NO = #{empNo}
	</update>
	
	<update id="empRetire" parameterType="EMPDto">
		UPDATE TB_EMP
		   SET RETIRED_DT = #{retiredDt}
		 WHERE EMP_NO = #{empNo}
	</update>

</mapper>