<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tchrBsMapper">
	
	<select id="tchrBsTcp" resultType="tPCDto">
		SELECT TPC_NM tpcNm, SBJT_NM sbjtNm FROM TB_TPC
	</select>
	
 	<select id="tchrBsTchr" resultType="tCHRDto">
		SELECT TCHR_NO tchrNo, ID id, SBJT_CHRG sbjtChrg, TCHR_INTRO tchrIntro
			FROM TB_TCHR
	</select>
	
	<insert id="ttlqzInsert" parameterType="tTLQZDto">
		INSERT INTO TB_TTLQZ(ID, SBJT_NM, TCHR_NO, TPC_NM, CONTENT, DEGREE, ANSWER, TITLE, SOLUTION) VALUES(seq_ttlqz.NEXTVAL, #{sbjtNm}, #{tchrNo}, #{tpcNm}, #{content}, #{degree}, #{answer}, #{title}, #{solution})
	</insert>
	
	<select id="attnd" parameterType="map" resultType="map">
		<![CDATA[
		SELECT clssid, tchrno
			FROM tchrbs_attnd where TCHRNO=#{tchrNo}
			AND strtdt <= #{today} AND #{today} <= enddt
		]]>
	</select>
	
	<select id="attndClss" parameterType="string" resultType="map">
		SELECT NM, CLSSID, DT, ATTNDTP, STDTDT, ENDDT, STDTNO
			FROM ATTND_CLSS WHERE CLSSID = #{clssId}
	</select>
	
	<select id="srcExmTp" resultType="map">
		SELECT EXAM_ID, EXAM_TITLE FROM TB_EXAM_TP
	</select>
 
	<select id="srcSbjt" resultType="map">
		SELECT SBJT_NM FROM TB_SBJT
	</select>
	
	<select id="srcStdt" resultType="map">
		SELECT USR.NM, STDT.STDT_NO
			FROM TB_STDT STDT, TB_USR USR
			WHERE STDT.ID = USR.ID
	</select>
	
	<insert id="srcInsert" parameterType="sCRDto">
		INSERT INTO TB_SCR VALUES(#{examId}, #{stdtNo}, #{sbjtNm}, #{score})
	</insert>
	
	<select id="stSearch" parameterType="String" resultType="String">
		SELECT CLSS.CLSS_ID
			FROM TB_TCHR TCHR, TB_TCHRASSN ASSN, TB_CLSS CLSS
				WHERE TCHR.TCHR_NO = ASSN.TCHR_NO AND ASSN.CLSS_ID = CLSS.CLSS_ID
				AND TCHR.TCHR_NO = #{tchrNo}
	</select>
	
	<select id="stClssSearch" parameterType="String" resultType="map">
	SELECT STDT.STDT_NO stdtNo, SCR.EXAM_ID examId, TP.EXAM_TITLE examTitle, USR.NM nm, SCR.SCORE score, SCR.SBJT_NM sbjtNm
		FROM TB_STDTCLSS CLSS, TB_STDT STDT, TB_SCR SCR, TB_USR USR, TB_EXAM_TP TP
			WHERE CLSS.STDT_NO = STDT.STDT_NO AND STDT.ID = USR.ID
			AND STDT.STDT_NO = SCR.STDT_NO AND SCR.EXAM_ID = TP.EXAM_ID
			AND CLSS.CLSS_ID = #{clssId}
	</select>
	
	<select id="qzSelectView" resultType="sBJTDto">
		SELECT SBJT_NM sbjtNm FROM TB_SBJT
	</select>
	
	<select id="qzSelect" parameterType="string" resultType="map">
		<![CDATA[
		SELECT A.* FROM
		(
			SELECT TTLQZ.ID ID, SBJT.SBJT_NM SBJTNM, TPC.TPC_NM TPCNM,TTLQZ.TITLE TITLE, TTLQZ.CONTENT, TTLQZ.SOLUTION, TTLQZ.ANSWER ANSWER, TTLQZ.IMG_FILE IMGFILE
				FROM TB_SBJT SBJT, TB_TPC TPC, TB_TTLQZ TTLQZ
					WHERE SBJT.SBJT_NM = TPC.SBJT_NM AND SBJT.SBJT_NM = TTLQZ.SBJT_NM
					AND TPC.TPC_NM = TTLQZ.TPC_NM AND SBJT.SBJT_NM = #{sbjtNm}
					ORDER BY DBMS_RANDOM.VALUE
		)A WHERE ROWNUM <= 10
		]]>
	</select>
	
	<select id="qzUpdateView" resultType="tTLQZDto">
		SELECT id, SBJT_NM sbjtNm, TCHR_NO tchrNo, TPC_NM tpcNm, title, content, solution, degree, answer, IMG_FILE imgFile
		FROM TB_TTLQZ
	</select>
	
	<select id="qzUpdateSearch" parameterType="int" resultType="tTLQZDto">
		SELECT id, SBJT_NM sbjtNm, TCHR_NO tchrNo, TPC_NM tpcNm, title, content, solution, degree, answer, IMG_FILE imgFile
		FROM TB_TTLQZ WHERE ID = #{id}
	</select>
	
	<select id="qzExamSelect" resultType="map">
		SELECT CD_ID cdId, CD_NM cdNm FROM TB_CD
	</select>
	
	<insert id="qzInsert" parameterType="list">
		INSERT ALL
		<foreach collection="list" item="qz">
			INTO TB_QZ VALUES(#{qz.examId}, #{qz.id}, #{qz.questNo}, #{qz.questWgt})
		</foreach>
		SELECT * FROM DUAL
	</insert>
	
	<select id="attndTchrNo" parameterType="string" resultType="string">
		SELECT TCHR_NO FROM TB_TCHR WHERE ID = #{id}	
	</select>
</mapper>