<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">
	
	<insert id="insertTest" parameterType="testDto" >
		insert into finaltest1 values(#{test1}, #{test2})
	</insert>
</mapper>