<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="usrMapper">

	<resultMap type="USRDto" id="UserResult">
		<result property="id" column="ID"/>
		<result property="pw" column="PW"/>
		<result property="nm" column="NM"/>
		<result property="phone" column="PHONE"/>
		<result property="addr" column="ADDR"/>
		<result property="email" column="EMAIL"/>
		<result property="usrTp" column="USR_TP"/>
		<result property="pws" column="PWS"/>
	</resultMap>

	<insert id="userInsert" parameterType="USRDto">
		INSERT INTO TB_USR
		VALUES(#{id}, #{pw}, #{nm}, #{phone}, #{addr}, #{email}, #{usrTp} , #{pws})
	</insert>
	
	<select id="userLogin" parameterType="hashmap" resultMap="UserResult">
		SELECT * FROM TB_USR WHERE id=#{id} and pw=#{pw}
	</select>
	
	<!-- find id -->
	<select id="findId" parameterType="hashmap" resultMap="UserResult">
		select * from TB_USR
		where nm=#{nm} and phone=#{phone}
	</select>
	
	<!-- find pwd -->
	<select id="findPwd" parameterType="hashmap" resultMap="UserResult">
		select * from TB_USR
		where id=#{id} and email=#{email}
	</select>
	
	<!-- id pw check -->
	
	<select id="idCheck" parameterType="String" resultMap="UserResult">
		select * from TB_USR where id=#{value}
	</select>
	
	<select id="pwdCheck" parameterType="map" resultMap="UserResult">
		select * from TB_USR where id=#{id} and email=#{email}
	</select>
	
	<!-- pwd update when after find pwd -->
	<update id="changePwdNew" parameterType="hashmap">
		update TB_USR set pw=#{pw} where id=#{id}
	</update>
	
	<!-- delete user -->
	<!-- <delete id="delUser" >
		delete from TB_USR where id=#{id} and pw=#{pw}
	</delete> -->
	
</mapper>


























