<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="usrMapper">

	<resultMap type="USRDto" id="UserResult">
		<result property="id" column="ID"/>
		<result property="pw" column="PW"/>
		<result property="nm" column="NM"/>
		<result property="phone" column="PHONE"/>
		<result property="addr" column="ADDR"/>
		<result property="email" column="EMAIL"/>
		<result property="usrTp" column="USR_TP"/>
		<result property="pws" column="PWS"/>
	</resultMap>

	<insert id="userInsert" parameterType="USRDto">
		INSERT INTO TB_USR
		VALUES(#{id}, #{pw}, #{nm}, #{phone}, #{addr}, #{email},0,0)
	</insert>
	
	<select id="userLogin" parameterType="hashmap" resultType="hashmap">
		SELECT * FROM TB_USR WHERE id=#{id} and pw=#{pw}
	</select>
	
</mapper>
